@import "tailwindcss";

@theme {
  --color-sristi-green-400: #4ade80;
  --color-sristi-green-500: #22c55e;
  --color-sristi-green-600: #16a34a;
  --color-sristi-green-700: #15803d;
  --color-sristi-earth-400: #fb923c;
  --color-sristi-earth-500: #f59e0b;
  --color-sristi-earth-600: #d97706;
}

body {
  @apply bg-gray-50 text-gray-800 font-sans antialiased;
}
